.App {
  /* background-color: #b30d52; */
  /* text-align: center; */
  /* padding-bottom: N; */
  overflow-x: hidden;
  overflow-y: hidden;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.buttonHover:hover{
  font-weight: bolder;
 
  /* color: #eff32b; */
  color: #b30d52;
}

.viewMoreButtonHover:hover{
  background-color: #08929c9f;
  /* color: white; */
}

.viewMoreButtonHoverBanner:hover{
   border: 4px solid wheat;
   color: #fff;
   background-color: #2db6a3;
   /* color: white; */
}
.readMoreButtonHoverBanner:hover{
  border: 4px solid wheat;
  color: #fff;
  background-color: rgb(34,37,71);
  /* color: white; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
